.page-detail {
    margin: 0 auto;
	display: flex;
	padding-top: var(--section-padding);
}

.page-detail .back-btn {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
}

.page-detail .back-btn img {
	width: 20px;
}

.page-detail .back-btn > p {
	font-weight: bold;
	font-size: 15px;
	padding-left: 20px;
}

.page-detail-card {
	background-color: white;
	padding-bottom: 30px;
	width: 600px;
}

.page-detail-card > img {
	width: 100%;
	max-height: 500px;
	height: 100%;
}

.card-body {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	line-height: 2;
	padding-left: 5px;
}

.card-img-icon {
	padding-right: 10px;
}

.page-detail .card-img-icon > a img,
.page-detail .card-img-icon > img {
	width: 20px;
	height: 20px;
}

.recommend-house {
	padding-top: 35px;
	padding-left: var(--section-padding);
	max-width: 500px;
	width: 100%;
}
.recommend-house h2 {
	font-size: var(--Header2-font);
	padding-bottom: 30px;
}

.page-detail .recommend-house-card a {
	padding-top: 100px;
	padding-bottom: 100px;
	background: white;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	display: flex;
}

.page-detail .recommend-house-card img {
	width: 100px;
}

.page-detail .recommend-house-card .card-content {
	padding-top: 10px;
	line-height: 2;
	margin-left: 25px;
	font-size: 14px;
}

.page-detail .recommend-house-card .card-content li > h3 {
	font-size: 15px;
}
.page-detail .recommend-house-card .card-flex-icon img {
	align-items: center;
	width: 15px;
}

.delete-card {
	position: relative;
	text-align: center;
}

.delete-card a > img {
	position: relative;
	width: 20px;
}

.delete-card .the-message {
	width: 600px;
	right: -160px;
	bottom: 140px;
	padding: 50px 0px;
	position: absolute;
	z-index: 1;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-detail .delete-card .the-message p {
	font-size: 16px;
	color: var(--tertiary-color2);
}

.page-detail .delete-card .the-message button {
	cursor: pointer;
	margin: 15px auto;
	display: block;
	padding: 10px 116px;
	color: white;
	background-color: var(--primary-color);
	width: fit-content;
	text-transform: uppercase;
	border-radius: 5px;
	font-size: var(--btn-font);
	border: none;
}
.mobile-recommend-house {
	display: none;
}
.page-detail .delete-card .the-message .delete {
	background-color: var(--secondary-color);
	width: fit-content;
	padding: 10px 130px;
	color: white;
}

.bounce-enter-active {
	animation: bounce-in 0.5s;
}
.bounce-leave-active {
	animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

@media(max-width: 480px) {
	.page-detail {
		display: block;
		position: relative;
		padding-bottom: var(--section-padding);
	}

	.container {
		padding-top: 0;
		max-width: 100%;
		padding-left: 7px;
		padding-right: 0px;
    
	}

	.page-detail .back-btn {
		position: relative;
		padding: 0px;
	}
	.page-detail .back-btn p {
		display: none;
	}
	.page-detail-card > img {
		max-width: 100%;
		max-height: 250px;
		height: 100%;
	}
	.page-detail-card {
		position: relative;
		margin-bottom: 20px;
		width: 300px;
	}

	.page-detail-card .card-body {
		padding: 0px 10px;
	}

	.card-body .card-content {
		padding-left: 10px;
		position: absolute;
		width: 100%;
		background-color: var(--background1);
		margin-left: 0px;
		right: 0;
		top: 160px;
		padding-bottom: 20px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	}

	.card-body .card-content > p {
		max-height: 140px;
		height: 100%;
		overflow: hidden;
	}

	.page-detail .back-btn a > img {
		position: absolute;
		filter: brightness(0) invert(1);
		top: 54px;
		z-index: 444;
		height: 15px;
		left: 20px;
	}

	.page-detail .card-img-icon {
		position: absolute;
		top: 40px;
		right: 10px;
	}

	.page-detail .card-img-icon > a img,
	.page-detail .card-img-icon img {
		width: 15px;
		height: 15px;
		filter: brightness(0) invert(1);
	}
	.page-detail .card-img-icon img {
		left: 9px;
	}

	.page-detail .recommend-house .container {
		padding-left: 0;
		padding-right: 0;
	}
	.page-detail .recommend-house {
		margin-left: 0px;
		padding-left: 0;
		margin-top: 250px;
	}
	.recommend-house h2 {
		font-size: var(--Header2-mobil-font);
		padding: 0px;
		margin: 0px;
		padding-bottom: 20px;
	}

	.page-detail .recommend-house-card a {
		width: 300px;
	}
	.page-detail .recommend-house-card img {
		width: 80px;
	}

	.delete-card .the-message {
		width: 295px;
		right: -17px;
		bottom: -319px;
		padding: 0px 20px 20px 0px;
	}

	.delete-card .the-message h1 {
		font-size: var(--Header1-mobil-font);
	}
	.page-detail .delete-card .the-message p {
		font-size: 12px;
		color: var(--tertiary-color2);
	}

	.page-detail .delete-card .the-message button {
		padding: 10px 92px;
		font-size: 12px;
	}
	.page-detail .delete-card .the-message .delete {
		background-color: var(--secondary-color);
		width: fit-content;
		padding: 10px 100px;
		color: white;
	}
}
